body {
	background-color: white;
	font-family: "Segoe UI", Arial, Verdana, sans-serif, "Mongolian Baiti", "Microsoft Yi Baiti", "Javanese Text";

}
h1{
	font-size: 25px;
	font-weight: normal;
}
h2{
	font-size: 20px;
	font-weight: lighter;
	margin: 3px;
}
.sheetComments{
	margin: 10px;
}
.cellComment{
	margin-left: 10px;
    cursor: pointer;
}
.cellComment:hover{
    opacity: 0.7;
}
#allComments {
    padding: 10px;
    margin: auto;
}

hr{
	margin-top: 30px;
}
.state img {
    width: 20px;
}
#createNew {
	background-color: #e7e7e7; 
	border: none;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
}