    body {
    background-color: white;
    }

    #allComments {
        border: 1px solid gray;
        padding: 10px;
        margin: auto;
        overflow: scroll;
        height: 80%;
        margin-bottom: 30px;
    }

    .state img {
        width: 20px;
    }